<ion-content>
  <ion-grid>
    <ion-row> 
      <img src="assets/logorojo.png">
    </ion-row>
    <!--<ion-row class="buttons">
      <ion-col align-self-center>
        <img id="btnAlmuerzo" src="assets/botonPedido.png" class="btn" (click)="presentAlmuerzo()" style="height: 130px;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <img id="btnAlmuerzo" src="assets/botonLocPedido.png" class="btn" (click)="presentGeo()" style="height: 130px;">
      </ion-col>
    </ion-row>-->
    <ion-row class="group">
      <h2>Grupo 5</h2>
      <ul>
        <li>Castillo Oliva Johann</li>
        <li>Espinosa Luna Bruno</li>
        <li>García Gutiérrez Willy</li>
        <li>Montañez Díaz Bruno</li>
        <li>Varas Zurita Piero</li>
      </ul>
    </ion-row>
    <div style="margin-top: 10%; padding: 20px;">
      <ion-button (click)="presentAlmuerzo()" color="danger" expand="full" shape="round">Realiza tu pedido</ion-button>
      <ion-button (click)="presentGeo()" color="danger" expand="full" shape="round" style="margin-top: 10px;">Localizar Pedido</ion-button>
    </div>

  </ion-grid>
</ion-content>
<!--<ion-footer>
  <ion-row id="log">
    <img id="whatssap" src="assets/btnwhatsapp.gif">
  </ion-row>
</ion-footer>-->
<!---->